@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap');

/* font-family: 'Big Shoulders Text', cursive; */

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.section-intro {
    height: 820px;
    background-image:linear-gradient(rgb(148, 148, 148), rgba(20,20,20, .1)), url(./img/pexels-cÃ¡tia-matos-984888.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h1 {
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    font-weight: 700;
}

.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-menu-wrapper {
    flex: 1;
}

.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}

.link-to-menu {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}

a.link-to-menu:hover {
    background-color: #ffffff;
    color: #95999e;
    text-decoration: none;
}


.about-section p{
    font-family: "Open Sans", regular;
}

.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}

.carousel-inner {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}

.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}

.btn.btn-primary:hover {
    background-color: #747474;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.form-group p {
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}
.grid {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: stretch;
    }
  
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    border-radius: 3px;
    text-align: center;
  }
  
  .grid > article:hover{
    transition: transform .1s ease-out;
    transform: translateY(5px);
  }
  
  .grid > article img {
    width: 100%;
  }
  
  
  .text {
    padding: 0 20px 20px;
  }
  
  .text > h3{
    text-transform: uppercase;
  }
  
  .text > button {
    background: linear-gradient(to right, #d0d3ca, #b8b1b4,#9c9e93);
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;       
  }
  
  .button {
    background: linear-gradient(to right, #d0d3ca, #b8b1b4,#9c9e93);
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;        
  }
  
  
  @media (max-width: 768px){
    .grid{
      grid-template-columns: repeat(2, 1fr);
      margin: 0;
    }
  }
  
  @media (max-width: 500px){
    .grid{
      grid-template-columns: repeat(1, 1fr);
      margin: 0;
    }
  
    .grid > article{
      text-align: center;
    }
  }
  

@media (min-width:577px) and (max-width: 800px) {

    .section-intro {
        height: 500px;
    }

    .about-section p,
    .about-section h3 {
        font-size: 20px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .section-intro {
        height: 300px;
    }

    .about-section {
        padding: 30px;
    }

    .section-intro h1 {
        font-size: 2em;
    }

    .about-section p,
    .about-section h3 {
        font-size: 15px;
    }

    .carousel-inner {
        height: auto;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }

    .form-group p {
        font-size: 15px;
    }

    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }
    


}

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #f4efeb;
    font-family: 'Cardo', serif;
  }
  
  #bg {
    background-image: url();
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
    height: 250px;
    max-width: 1152px;
  }
  
  #logo {
    max-width: 100%;
  }
  .secTitle {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    font-weight: 500;
    color: #321602;
  }
  
  .drinkName {
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.1em;
  }
  
  .drinkDesc {
    font-size: .9em;
  }
  
  .price {
    text-align: left;
  }
  
  .add {
    text-align: right;
  }
  